html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  border: solid lightgray;
  border-width: 3px 0;
  font-size: 2rem;
  color: gray;
}

.header-left {
  font-weight: bold;
}

.header-right a {
  margin-left: 1rem;
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-link:hover {
  color: inherit;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

a {
  color: cornflowerblue;
}

.footer {
  color: gray;
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0.5rem;
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
}

.recommendations {
  text-align: center;
}

.recommendations a {
  display: inline-block;
  margin: 1rem;
}

.recommendations img {
  width: 300px;
  max-width: 100%;
}

.recommendations a p {
  margin: 15px;
}