<link href="http://localhost:3002/static/fragment.css" rel="stylesheet"/>
<div class="inspire_fragment">
    <h2 class="inspire_headline">Odporúčané</h2>
    <div class="inspire_recommendations">
        <a href="http://localhost:3001/product/samsung">
            <img alt="Samsung Galaxy S25" src="http://localhost:3030/images/samsung-galaxy-s25.jpg"/>
            <p>Samsung Galaxy S25</p>
        </a>
        <a href="http://localhost:3001/product/google">
            <img alt="Google Pixel 8" src="http://localhost:3030/images/google-pixel-8.jpg"/>
            <p>Google Pixel 8</p>
        </a>
    </div>
</div>