<link href="http://localhost:3002/static/fragment.css" rel="stylesheet"/>
<div class="inspire_fragment">
    <h2 class="inspire_headline">Odporúčané</h2>
    <div class="inspire_recommendations">
        <a href="http://localhost:3001/product/google">
            <img alt="Google Pixel 8" src="http://localhost:3030/images/google-pixel-8.jpg"/>
            <p>Google Pixel 8</p>
        </a>
        <a href="http://localhost:3001/product/iphone">
            <img alt="Iphone 16 Pro" src="http://localhost:3030/images/iphone-16-pro.jpg"/>
            <p>Iphone 16 Pro</p>
        </a>
    </div>
</div>
